image: maven:latest

stages:
  - checkstyle
  - build
  - test

build:
  stage: build
  script:
    - mvn compile

test:
  stage: test
  script:
    - mvn test

checkstyle:
  stage: checkstyle
  script:
    - mvn checkstyle:check